.nav, .intro{
    display: inline-block;
    vertical-align: middle;
}

nav a, .intro p, .intro h5{
    color: azure;
}


header{
    background-image: url("https://d2slcw3kip6qmk.cloudfront.net/marketing/techblog/how-to-plan-a-programming-competition-header@2x.png");
}
.intro{
    margin-left: 25%;
}

section{
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 4%;
}



section#about img{
    height: 150px;
    width: 150px;
}

section#about h1{
    padding-bottom: 1%;
}

.hexagon {
    position: relative;
    width: 90px; 
    height: 51.96px;
    background-color: #a98307;
    margin: 25.98px 10px;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 25.98px solid #a98307;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 25.98px solid #a98307;
  }

#competences #line-2{
    padding-left: 8%;
    padding-bottom: 5%;
}

#collapseExample{
    width: 30%;
}

#miel{
    padding-right: 5%;
    width: 60%;
}
#miel, #collapseExample{
    display: inline-block;
    vertical-align: top;
}

#portfolio #buttons{
    margin-left: 25%;
}

#portfolio .d-flex button{
    margin-left: 1%;
    margin-bottom: 2%;
}

#portfolio .card{
    margin-right: 5%;
    margin-left: 1%;
}
.card-group>.card{
    max-height: 500px;
}
.card-group>.card:not(:last-child){
    margin-top: 25%;
}

#contact form{
    width: 60%;
}

#contact form, #contact .card.border-dark{
    display: inline-block;
    vertical-align: top;
}

#contact .card.border-dark{
    margin-left: 10%;
}

footer{
    background-color: black;
    padding-bottom: 50px;
}

footer .col{
    color: white;
}

footer .col img{
    height: 70px;
    width: 70px;
}


@media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
    #miel{
        width: 100%;
    }
    

    #miel, #collapseExample{
        display: block;
    }
    .intro div{
        width: 40%;
        margin-left: auto;
    }
    .intro .list-group{
        transform: scale(0.7);
    }
    .intro{
        margin-left: 0;
    }

    .hexagon{
        transform: scale(0.5);
    }
    #collapseExample{
        width: 50%;
    }
    #portfolio #buttons{
        margin-left: 0;
        transform: scale(0.7);
    }
    footer img, #cursus img{
        transform: scale(0.7);
    }
    #cursus .card{
        transform: scale(0.9);
    }
    #portfolio card{
        transform: scale(0.7); 
    }
    #cursus h1{
        padding-bottom: 0;
    }
  }
